# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

on:
  push:
    branches:
    - main
    - master
    tags:
    - 'v*'

name: Project / Release policy

jobs:

  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@v1

  release:
    needs: test
    permissions:
      # Required to create GH release
      contents: write
      # Required to push to ghcr.io
      packages: write
      # Required by cosign keyless signing
      id-token: write

    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-rust.yml@v1
    with:
      input-wasm: disallow_default_namespace
      oci-target: ghcr.io/kubewarden/policies/disallow-default-namespace

    secrets:
      workflow-pat: ${{ secrets.WORKFLOW_PAT }}
